################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeReviewTrackerForm/obj
/CodeReviewTrackerForm/bin
/TfsCore/bin
/TfsCore/obj
/.vs/TFSExplorer/v14
/ChangeSetLinkerForm/obj/Debug
/MergeCodeForm/bin/Debug
/MergeCodeForm/obj/Debug
